.screen-header {
    position:fixed;
    top:35px;
    width:100%;
    padding:var(--horizontal-space);
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-sizing:border-box;
}
.screen-header_title {
    font-size:32px;
    font-weight:600;
}
.screen-header_icons {
    font-size:20px;
    position:relative;
    color:grey;
}
.screen-header_icons span{
    margin-left:25px;
}
.screen-header_circle {
    width:5px;
    height:5px;
    border-radius:50%;
    background-color:tomato;
    position:absolute;
    left:100px;
    bottom:20px;
}
.screen-header_icons .fa-gear:hover {
    color:#a790f5;
    animation:rolling 1s linear infinite;
}    

@keyframes rolling {
    from {
        transform:none;
    }
    to {
        transform:rotateZ(360deg);
    }
}

.screen-header_icons .fa-music {
    transform-origin:50% 0;
}
.screen-header_icons .fa-music:hover {
    color:#a790f5;
    animation:shake 1s linear infinite;
}
@keyframes shake {
    0% {
        transform:rotate(-45deg);
    }
    50% {
        transform:rotate(45deg);
    }
    100% {
        transform:none;
    }
}

.screen-header_icons .fa-magnifying-glass:hover {
    color:#a790f5;
    animation:glass_scale 1s ease-in-out infinite;
}
@keyframes glass_scale {
    from {  
        transform:none;
    }
    to {
        transform:scale(1.5);
    }
}