
#chat-screen {
    background-image:url(../../img/chat-bac.png);
}
.chat_timestamp {
    color:white;
    background-color:#77836a;
    padding:10px 30px;
    border-radius:25px;
    font-size:13px;
    animation:fadeIn 0.8s linear;
}
@keyframes fadeIn {
    from {
        transform:translateY(40px);
        opacity:0
    }
    to {
        transform:none;
        opacity:1;
    }
}
.main-screen.main-chat {
    margin-top:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.message-row {
    width:100%;
    margin-top:30px;
    display:flex;
    align-items: center;
}

/*  왼쪽 - animation img와 author  */
.message-row img,
.message-row .message_author {
    opacity: 0;
    animation:message-row_img 0.8s 1s ease-in-out forwards;
}
.message-row__second img,
.message-row__second .message_author {
    opacity: 0;
    animation:message-row_img 0.8s 3.5s ease-in-out forwards;
}
.message-row__third img,
.message-row__third .message_author {
    opacity: 0;
    animation:message-row_img 0.8s 6s ease-in-out forwards;
}
@keyframes message-row_img {
    from {
        transform:translateX(-100px);
    }
    to {
        transform:none;
        opacity:1;
    }
}
/* 왼-row-info-글씨 */
.message-row .message_info {
    opacity:0;
    animation:message_info-time 0.8s 1.8s ease-in-out forwards;
}
@keyframes message_info-time {
    from {
        transform:scale(0);
        transform-origin: 0% 0%;
    }
    to {
        transform:scale(1);
        opacity:1;
        transform-origin: 0% 0%;
    }
}
.message-row__second .message_info { /*왼쪽두번째 info*/
    opacity:0;
    animation:message_info-time 0.8s 4.3s ease-in-out forwards;
}
.message-row__third .message_info {/*왼쪽세번째 info*/
    opacity:0;
    animation:message_info-time 0.8s 7s ease-in-out forwards;
}

.message-row img {
    width:50px;
    height:50px;
    border-radius:50%;
    margin-right:10px;
}
.message_author {
    display:block;
    margin-bottom:5px;
    font-size:17px;
}
.message_time {
    margin-top:10px;
    font-size:10px;
}
.message_author,
.message_time {
    opacity:0.8;
}
.message_bubble {
    background-color:#e1f4da;
    font-size:15px;
    padding:11px;
    border-radius:15px;
    border-top-left-radius:0;
    margin-right:5px;
    background-color:#e1f4da;
    border:2px solid rgb(96, 143, 244);
    box-shadow: 2px 4px 3px rgba(0,0,0,0.2);
}
.message_info {
    display:flex;
    align-items: flex-end;/*풍선이랑 시간 밑에 맞추다*/
}
/* 첫번째 오른쪽 won */
.message-row_won .message_info {
    opacity: 0;
    animation:message-row_won_ani 0.8s 2.8s ease-in-out forwards;
}
@keyframes message-row_won_ani {
    from {
        transform:scale(0);
        transform-origin: 100% 0%;
     }
    to {
        transform:scale(1);
        transform-origin: 100% 0%;
        opacity:1;
    }
}
.message-row_won.second .message_info {/*두번째오른쪽 info*/
    opacity: 0;
    animation:message-row_won_ani 0.8s 5s ease-in-out forwards;
}
.message-row_won.third .message_info {
    opacity: 0;
    animation:message-row_won_ani 0.8s 8s ease-in-out forwards;
}

.message-row_won {
    display:flex;
    justify-content: flex-end;
}
.message-row_won .message_info {
    flex-direction: row-reverse;
}

.message-row_won .message_bubble {
    margin-left:5px;
    border-radius:15px;
    border-top-right-radius:0;
    background-color:#e1f4da;
    border:2px solid sandybrown;
}
.reply {
    position:fixed;
    bottom:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color:#83826a;
    padding:5px 25px;
    box-sizing: border-box;
    transition:transform 0.3s ease-in-out;
}
.reply i {
    opacity: 0.5;
}
.reply_column:first-child {
    width:10%;
    
}
.reply_column:last-child {
    width:90%;
    position:relative;
}
.reply input {
    width:100%;
    padding:10px;
    border:var(--main-border);
    border-radius:20px;
    box-sizing: border-box;
    transition:all .3s ease-in-out;
}
.reply_column:last-child > i,
.reply_column:last-child button {
    position:absolute;
    top:3px;
    right:2px;
}
.reply_column:last-child > i {
    top:17px;
    right:40px;
}
.reply_column:last-child button {
    width:30px;
    height:30px;
    border-radius:50%;
    background-color:var(--yellow);
    border:none;
}
.reply:focus-within .reply_column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
    opacity:0;
    
}
.reply:focus-within .reply_column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
    transition:opacity .3s ease-in-out;
}
.reply:focus-within {
    transform:translateY(80px);
}   
.reply input:focus {
    width:98vw;
    transform:translateX(-13%)
    translateY(-80px);
    outline:none;
}






