
#friends-display-link {
    display:block;
    text-align:center;
    background-color:#ebfde3;
    margin-top:105px;
    margin-bottom:13px;
    padding:15px 0;
    font-size:18px;
}
#friends-display-link i {
    margin:0 20px;
}
.friends-screen {
    padding:0 var(--horizontal-space);
}
.friends-channel {
    border-top:1px solid rgba(0,0,0,0.2);
    border-bottom:1px solid rgba(0,0,0,0.2);
    margin:20px 0;
    font-size:18px;
}
.friends-channel_header,.friends-channel_list-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
    color:rgba(0,0,0,0.5);
}

#splash-screen {
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    background-image:url(../../img/cloud.svg);
    animation:splash 0.6s 1s ease-in-out forwards;
}
@keyframes splash {
    from {
        opacity:1;
    }
    to {
        opacity:0;
        visibility:hidden;
    }
}
.splash-screen_imgs {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
}
#splash-screen img:first-child{
    width:300px;
    height:auto;
    position:relative;
    
    animation:transform 3s linear infinite forwards;
}
@keyframes transform {
    0% { transform:none;
        opacity:0.5;
    }
    50% {
        transform:translate(100px,0px);
        opacity:1;
    }
    100% {
        transform:translate(0px, 200px) ;
    }
}

#splash-screen img:last-child {
    width:200px;
    height:auto;
    position:absolute;
    left:180px;
    top:-100px;
    transform-origin: 50% 50%;
    animation:rotate 0.5s 0.2s linear infinite;
}
@keyframes rotate {
    0% {
        transform:rotateZ(360deg);
    }
    50% {
        transform:rotateZ(0deg);
        
    }
}